ul.footer-links
    li © 2013 
    li
        a(href="/about").internal About
    li
        a(href="http://www.vmware.com") VMware
    li
        a(href="http://www.vmware.com/products/datacenter-virtualization/vcenter-log-insight/overview.html") Log Insight™