/** sprite: common; sprite-image: url('decorator/common-${md5}.png'); */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}

.clearfix {
    display: inline-block; 
}

* html .clearfix {
    height: 1%; 
}

/* Hides from IE-mac \*/
.clearfix {
    display: block; 
}

.clear {
    clear: both;
    font-size: 0;
    height: 0; 
}

.ellipsis {
    display:inline-block;
    white-space: nowrap;
    width: 222px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.l {
    float: left;
}

.r {
    float: right; 
}

.gray {
    color: gray; 
}

.red {
    color: red; 
}

.green {
    color: green;
}

.hide {
    display: none;
}

.bfc {
    overflow: hidden;
    *zoom: 1;
}

.nopl {
    padding-left: 0;
}

menu, ol, ul {
    margin: 0;
    padding: 0;
}