{
    "common.css": [
        "css/base/font.css",
        "css/base/reset.css",
        "css/base/base.css",
        "css/base/layout.css",
        "css/base/pure.css",
        "css/ui",
        "css/base/tmpst.css"
    ],
    "common.js": [
        "js/lib/jquery.js",
        "js/lib/jquery-migrate.js",
        "js/ui",
        "js/lib/cookie.js",
        "js/lib/underscore.js",
        "js/lib/backbone.js",
        "js/lib/backbone.queryparams.js",
        "js/lib/jade.js",
        "js/core/api.js",
        "js/core/class.js",
        "js/core/config.js",
        "js/core/tmpst.js",
        "js/app/home.js",
        "pages/home"
    ]
}